$orange-900: #ff6838;
$orange-700: #ff7a50;
$orange-500: #ffae94;
$orange-300: #fff2ed;
$silver-200: #ececec;
$silver-100: #f9faff;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;
$white-100: #ffffff;

$burgerWidth: 30px;
$burgerHeight: 20px;
$burgerLineHeight: 2px;
$burgerColor: $darkBlue-900;

%rubikitalic-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: italic;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
